.gallery {
  display: block;
  min-height: 100vh;
  padding: 100px 0;
}

.gallery .gallery-filter {
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.gallery .gallery-filter .filter-item {
  color: #000;
  font-size: 17px;
  border: 2px solid #00a046;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 20px;
  margin-right: 8px;
  cursor: context-menu;
  padding: 8px 20px 8px 20px;
  line-height: 1.2;
  transition: all 0.3s ease;
}

.gallery .gallery-filter .filter-item.active {
  color: white;
  border-color : #16b5ef;
  background: #16b5ef;
}

@media(max-width: 667px) {
  .gallery .gallery-filter .filter-item {
    margin-bottom: 10px;
  }
}
