/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 7rem; /* Location of the box */
    padding-bottom: 20px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;
    max-height: -webkit-fill-available;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation: zoomIn .2s;
}

.modal-header {
    border-bottom: 1px solid #e9e9e9;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0 8px 40px rgb(0 0 0 / 32%);
}

.modal-body {
    padding: 20px;
    overflow-y: auto;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.order-item {
    display: flex;
}

.item-img {
    height: 120px;
    width: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.order-item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-delete {
    display: flex;
    justify-content: space-between;
}

.item-name {
    margin: 0 1em;
}

.item-delete {
    align-self: center;
    cursor: pointer;
}

.item-delete:hover {
    color: #353c98;
}

.item-delete:active {
    color: #3b419b;
}

.input-price {
    display: flex;
    justify-content: space-between;
}

.price-div {
    display: flex;
    align-items: center;
}

.input {
    margin-left: 1em;
    display: flex;
    border: 1px solid #d1bebe;
    border-radius: 8px;
}

.input label {
    margin: 0;
}

.minus, .plus {
    margin: 0;
    border: none;
    background-color: #ffffff;
    width: 1.75em;
    border-radius: 8px;
    cursor: pointer;
}

.quantity {
    -moz-appearance: textfield;
    margin: 0;
    width: 8em;
    padding: 0.4em;
    border-bottom: none;
    border-top: none;
    border-right: 1px solid #d1bebe;
    border-left: 1px solid #d1bebe;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity:focus {
    outline: none;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.modal-bottom {
    height: 0.25em;
}

#create-order {
    border-top: 1px solid #e9e9e9;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 0.5em 20px;
}

#create-order-button {
    text-align: center;
    display: flex;
    border-radius: 4px;
    background-color: #00a046;
    border: none;
    padding: 0 0.5em;
    height: 40px;
    cursor: pointer;
    margin-top: 0.5rem;
    text-decoration-line: none;
}

#create-order-button span {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: #fff;
}

#create-order-button:hover{
    opacity: 0.90;
}